<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
        <script type="text/javascript" src="https://hammerjs.github.io/dist/hammer.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='init.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118050144-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118050144-1');
        </script>
        <style>
            
        </style>
    </head>

    <body class="container">

        <h2 class="heading">Demo</h2>
        <button class="btn waves-effect waves-light" id="forwards">Forwards</button>
        <button class="btn waves-effect waves-light" id="backwards">Backwards</button>
        <button class="btn waves-effect waves-light" id="right">Right</button>
        <button class="btn waves-effect waves-light" id="left">Left</button>

        <div class="parallax-container valign-wrapper">
            <div class="parallax"><iframe id="camera-screen" frameborder="0" class="iframe"></iframe></div>
        </div>
        <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light" id="distance">distance mode</button>
                <button class="btn waves-effect waves-light" id="manual">manual mode</button>
                <ul id="stop">

                </ul>
            </div>
            <div class="col s6">
                <ul id="output">

                </ul>
            </div>
        </div>
        <div id="example-1">
            <button class="btn waves-effect waves-light" v-on:click="counter += 1">Add 1</button>
            <p>The button above has been clicked {{ counter }} times.</p>
        </div>
        

    </body>

</html>