<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript">

            function killRequest() {
                return $.get( "/end_motor_source", function(data) {
                                console.log('ending');
                                $( ".result" ).html( data );
                            });
            }

            $(document).ready(
                    function() {
                        var sse, sse1;
                        $('#forwards').mouseup(function(){
                            sse.close();
                            $.get( "/end_motor_source", function(data) {
                                console.log('ending');
                                $( ".result" ).html( data );
                            });
                            return killRequest();
                        }).mousedown(function(){
                            sse = new EventSource('/my_event_source');
                            sse.onmessage = function(message) {
                                console.log('A message has arrived!');
                                $('#output').append('<li>'+message.data+'</li>');
                            }
                        })

                        $('#backwards').mouseup(function(){
                            sse.close();
                            $.get( "/end_motor_source", function(data) {
                                console.log('ending');
                                $( ".result" ).html( data );
                            });
                            return killRequest();
                        }).mousedown(function(){
                            sse = new EventSource('/backwards');
                            sse.onmessage = function(message) {
                                console.log('A message has arrived!');
                                $('#output').append('<li>'+message.data+'</li>');
                            }
                        })

                        $('#right').mouseup(function(){
                            sse.close();
                            $.get( "/end_motor_source", function(data) {
                                console.log('ending');
                                $( ".result" ).html( data );
                            });
                            return killRequest();
                        }).mousedown(function(){
                            sse = new EventSource('/right');
                            sse.onmessage = function(message) {
                                console.log('A message has arrived!');
                                $('#output').append('<li>'+message.data+'</li>');
                            }
                        })

                        $('#left').mouseup(function(){
                            sse.close();
                            $.get( "/end_motor_source", function(data) {
                                console.log('ending');
                                $( ".result" ).html( data );
                            });
                            return killRequest();
                        }).mousedown(function(){
                            sse = new EventSource('/left');
                            sse.onmessage = function(message) {
                                console.log('A message has arrived!');
                                $('#output').append('<li>'+message.data+'</li>');
                            }
                        })
                    })

        </script>
    </head>

    <body class="container">

        <h2 class="heading">Demo</h2>
        <button class="btn waves-effect waves-light" id="forwards">Forwards</button>
        <button class="btn waves-effect waves-light" id="backwards">Backwards</button>
        <button class="btn waves-effect waves-light" id="right">Right</button>
        <button class="btn waves-effect waves-light" id="left">Left</button>

        <ul id="output">

        </ul>

    </body>

</html>