<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/init.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/node_modules/angular/angular.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/node_modules/angular-touch/angular-touch.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/app.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/app/app.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/app/AppController.js') }}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118050144-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118050144-1');
        </script>
    </head>

    <body class="container" ng-app="app" ng-controller="AppController as appCtrl">

        <h2 class="heading">Demo</h2>
        <button class="btn waves-effect waves-light" id="forwards">Forwards</button>
        <button class="btn waves-effect waves-light" id="backwards">Backwards</button>
        <button class="btn waves-effect waves-light" id="right">Right</button>
        <button class="btn waves-effect waves-light" id="left">Left</button>

        <div class="parallax-container valign-wrapper">
            <div class="parallax"><iframe id="camera-screen" frameborder="0" class="iframe"></iframe></div>
        </div>
        <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light" id="distance">distance mode</button>
                <button class="btn waves-effect waves-light" id="manual">manual mode</button>
                <ul id="stop">

                </ul>
            </div>
            <div class="col s6">
                <ul id="output">

                </ul>
            </div>
            <h1 ng-bind="appCtrl.test"></h1>
        </div>
    </body>

</html>